<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<?php
$_product = $block->getProduct();
$_productType= $_product->getTypeId();
$buttonTitle = __('Add to Cart');
?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
                    <div class="control">
                        <input type="number"
                               name="qty"
                               id="qty"
                               value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                               title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                               class="input-text qty"
                               data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                        />
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
<!--                <button type="submit"-->
<!--                        title="--><?//= /* @escapeNotVerified */ $buttonTitle ?><!--"-->
<!--                        class="action primary tocart"-->
<!--                        id="product-addtocart-button">-->
<!--                    <span>--><?//= /* @escapeNotVerified */ $buttonTitle ?><!--</span>-->
<!--                </button>-->
                <?= $block->getChildHtml('', true) ?>
            </div>

            <?php if($_product->getSku()) : ?>
                <button type="button" id="open_request_box" class="btn btn-primary">Request Price</button>
                <div id="request_box">
                    <div id="request_errors"></div>
                    <div id="pricerequest_form">
                        Name: <input type="text" name="user_name" id="user_name"><br>
                        Email: <input type="email" name="user_email"><br>
                        Comment(optional): <input type="text" name="comment"><br>
                        <input type="hidden" name="sku" value="<?php echo $_product->getSku(); ?>"><br>
                        <button id="create_request">Create</button>
                    </div>
                </div>

                <script>
                    require([
                        'jquery',
                        'Magento_Ui/js/modal/modal'
                    ],
                    function($,modal) {
                        var options = {
                            type: 'popup',
                            responsive: true,
                            innerScroll: true,
                            clickableOverlay: true,
                            title: 'Price Request Form',
                            buttons: [{
                                text: $.mage.__('Close'),
                                class: '',
                                click: function () {
                                    this.closeModal();
                                }
                            }]
                        };

                        var popup = modal(options, $('#request_box'));
                        $("#open_request_box").on("click",function(){
                            $('#request_box').modal('openModal');
                        });

                        $('#create_request').on('click', function(){
                            var fields = {};
                            $("#pricerequest_form input").each(function() {
                                if(this.name == "user_email"){
                                    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;

                                    if(emailReg.test($(this).val())) {
                                        fields[this.name] = $(this).val();
                                    }
                                }else if(this.name == "user_name"){
                                    var nameReg = /^[a-zA-Z\-]+$/;

                                    if(nameReg.test($(this).val())){
                                        fields[this.name] = $(this).val();
                                    }
                                }else{
                                    fields[this.name] = $(this).val();
                                }
                            });

                            if(!("user_name" in fields) && !("user_email" in fields)){
                                $('#request_errors').text('Wrong user name or email!').show().delay(3000).fadeOut('slow');
                            }else{
                                $.ajax({
                                    type: "POST",
                                    url: '/requestprice',
                                    data: fields,
                                    success: function(data) {
                                        $('#request_errors').text(data.message).show().delay(3000).fadeOut('slow');

                                        $('#request_box').modal('closeModal');
                                    }
                                });
                            }
                        });
                    });
                </script>
            <?php endif; ?>

        </div>
    </div>
<?php endif; ?>

<?php if ($block->isRedirectToCartEnabled()) : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
    <script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>